<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bubble World</title>
</head>

<body>
    <!-- 导航栏 -->
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a class="navbar-brand col-lg-2" href="#" style="color:black;">Bubble World</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>


            <div class="input-group col-lg-4">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全部</button>
                    <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                        <a class="dropdown-item" href="#">书籍</a>
                        <a class="dropdown-item" href="#">影视</a>
                        <a class="dropdown-item" href="#">小组</a>
                        <a class="dropdown-item" href="#">话题</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>

            <div class="col col-lg-1"></div>

            <div class="collapse navbar-collapse col-lg-4" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./book.html"><mark style="color:white; background-color:darkturquoise;">书籍</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./films.html"><mark style="color:white; background-color:dodgerblue;">影视</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark style="color:white; background-color:orange;">小组</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark style="color:white; background-color:orangered;">话题</mark></a>
                    </li>
                </ul>
            </div>

            <div class="dropdown col-lg-1">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10%;">
                    <img src="头像.JPG" class="img-thumbnail" alt="Cinque Terre" style="padding: 0%;">
                </button>
                <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                    <a class="dropdown-item" href="#">主页</a>
                    <a class="dropdown-item" href="#">通知</a>
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </div>
        </nav>
    </div>

    <!-- 轮播 -->
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="国实1.jpg" style="height: 625px;">
                    <div class="carousel-caption">
                        <h3>第一张图片描述标题</h3>
                        <p>描述文字!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="国实2.jpg" style="height: 625px;">
                    <div class="carousel-caption">
                        <h3>第二张图片描述标题</h3>
                        <p>描述文字!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="国实3.jpg" style="height: 625px;">
                    <div class="carousel-caption">
                        <h3>第三张图片描述标题</h3>
                        <p>描述文字!</p>
                    </div>
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

    <br>

    <!-- 内容板块区 -->
    <div class="container">
        <div class="row">

            <!-- 书籍 -->
            <div class="col">
                <h5 style="text-align: center;">流行书籍</h5>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                </div>
            </div>

            <div class="border"></div>

            <!-- 影视 -->
            <div class="col">
                <h5 style="text-align: center;">流行影视</h5>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                    <div class="col">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <p type="button" style="text-align: center;">XXX</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">

            <!-- 热评 -->
            <div class="col">
                <h5 style="text-align: center;">热门评论</h5>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="card col col-lg-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-lg-5">
                                        <p>XX用户</p>
                                    </div>
                                    <div class="col col-lg-4">
                                        <p>#TAG</p>
                                    </div>
                                    <div class="col col-lg-3">
                                        <div class="row">
                                            <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                            <p style="font-size:xx-small;">666</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">Some example text. Some example text.</p>
                            </div>
                        </div>
                        <div class="card col col-lg-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-lg-5">
                                        <p>XX用户</p>
                                    </div>
                                    <div class="col col-lg-4">
                                        <p>#TAG</p>
                                    </div>
                                    <div class="col col-lg-3">
                                        <div class="row">
                                            <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                            <p style="font-size:xx-small;">666</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">Some example text. Some example text.</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="card col col-lg-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-lg-5">
                                        <p>XX用户</p>
                                    </div>
                                    <div class="col col-lg-4">
                                        <p>#TAG</p>
                                    </div>
                                    <div class="col col-lg-3">
                                        <div class="row">
                                            <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                            <p style="font-size:xx-small;">666</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">Some example text. Some example text.</p>
                            </div>
                        </div>
                        <div class="card col col-lg-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-lg-5">
                                        <p>XX用户</p>
                                    </div>
                                    <div class="col col-lg-4">
                                        <p>#TAG</p>
                                    </div>
                                    <div class="col col-lg-3">
                                        <div class="row">
                                            <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                            <p style="font-size:xx-small;">666</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">Some example text. Some example text.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border"></div>

            <!-- 话题 -->
            <div class="col col-lg-4">
                <h5 style="text-align: center;">热门话题</h5>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                    <div class="col" style="text-align: center;">
                        <button type="button" class="btn btn-light">TAG</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>