{% extends "./base.html" %}

{% block content %} 
{% load bubbleworld_extras %}
<body>

<div id="all_uni">
	<br>
    <div class="container">
    	<div class="col">
            <nav aria-label="Page navigation">
    <div style="font-family:雅黑;font-weight:bold;font-size:15px;mix-blend-mode: overlay;">
        {% for target in target_list %}
            <div class="card">
                <div class="card-body">
                    <div id="col">
                    <div class="row">
                        <div id="col">
                            <a>申请用户：{{ target.user }}</a>
                        </div>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div id="col">
                            <a>申请小组：{{ target.section.name }}</a>
                        </div>
                    </div>
                    <br>
                    <div class="row" align="center">
                        <div id="col">
                            <a href="{{target.get_pass_url}}">通过</a>
                        </div>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div id="col">
                            <a href="{{target.get_refuse_url}}">拒绝</a>
                        </div>
                    </div>
                </div>
                </div>  
            </div> 
            <br>
            {% endfor %} 
    </div>
    <br>
    <div class="pagination"  style="overflow:auto;">
       
        <div class="col">
            
        {% if page_obj.has_previous %}
        <li style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: difference;"><a href="{% url 'search' %}?q={{q}}&scope={{scope}}&page={{ page_obj.previous_page_number }}">
            <div class="card">
                <div class="card-body">
        上一页
            </div>
            </div>
            </a></li>
        {% else %}
        <li class="disabled" style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: saturation;"><a><div class="card">
                <div class="card-body">
        上一页
            </div>
            </div></a></li>
        {% endif %}
                
        </div>

        {% for page in paginator.page_range %}
        <div class="col">
        {% if page == page_obj.number %}
        <li class="active" style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: difference;">
            <a href="{% url 'search' %}?q={{q}}&scope={{scope}}&page={{ page }}">
                <div class="card">
                <div class="card-body">
            {{ page }}
                </div>
            </div>
        </a>
        </li>
        {% else %}
        <li style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: overlay;"><a href="{% url 'search' %}?q={{q}}&scope={{scope}}&page={{ page }}">
            <div class="card">
                <div class="card-body">
        {{ page }}
            </div>
            </div>
            </a></li>
        {% endif %}
        </div>
        {% endfor %}

        <div class="col">
        <!--#下一页-->
        {% if page_obj.has_next %}
        <li style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: difference;"><a href="{% url 'search' %}?q={{q}}&scope={{scope}}&page={{ page_obj.next_page_number }}">
            <div class="card">
                <div class="card-body">
        下一页
             </div>
            </div>
            </a></li>
        {% else %}
        <li class="disabled" style="font-family:雅黑;font-weight:bold;font-size:24px;mix-blend-mode: saturation;"><a><div class="card">
                <div class="card-body">
        下一页
             </div>
            </div></a></li>
        {% endif %}
               
        </div>
    </div>
</nav>
            
            
		</div>
	</div>
</div>
</body>
{% endblock %}