{% extends "./base.html" %} {% block content %}

<br>
<div class="container" style="display: flex; flex-direction: column;justify-content: center;text-align: center;">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{hot_books.0.get_absolute_url}}">
                <img src="/static/{{hot_books.0.img}}" style="height: 480px">
                <div class="carousel-caption" style="mix-blend-mode: difference;">
                    <h3>{{hot_books.0.name}}</h3>
                </div></a>
            </div>
            <div class="carousel-item">
                <a href="{{hot_books.1.get_absolute_url}}">
                <img src="/static/{{hot_books.1.img}}" style="height: 480px;">
                <div class="carousel-caption" style="mix-blend-mode: difference;">
                    <h3>{{hot_books.1.name}}</h3>
                </div></a>
            </div>
            <div class="carousel-item">
                <a href="{{hot_films.0.get_absolute_url}}">
                <img src="/static/{{hot_films.0.img}}" style="height: 480px;">
                <div class="carousel-caption" style="mix-blend-mode: difference;">
                    <h3>{{hot_films.0.name}}</h3>
                </div></a>
            </div>
            <div class="carousel-item">
                <a href="{{hot_films.1.get_absolute_url}}">
                <img src="/static/{{hot_films.1.img}}" style="height: 480px;">
                <div class="carousel-caption" style="mix-blend-mode: difference;">
                    <h3>{{hot_films.1.name}}</h3>
                </div></a>
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>

<br>

<!-- 内容板块区 -->
<div class="container">
    <div class="row">

        <!-- 书籍 -->
        <div class="col">
            <h5 style="text-align: center;">流行书籍</h5>
            <br>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{{hot_books.0.get_absolute_url}}">
                    <img src="/static/{{hot_books.0.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_books.0.name}}</p></a>
                </div>
                <div class="col">
                    <a href="{{hot_books.1.get_absolute_url}}">
                    <img src="/static/{{hot_books.1.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_books.1.name}}</p></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{{hot_books.2.get_absolute_url}}">
                    <img src="/static/{{hot_books.2.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_books.2.name}}</p></a>
                </div>
                <div class="col">
                    <a href="{{hot_books.3.get_absolute_url}}">
                    <img src="/static/{{hot_books.3.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_books.3.name}}</p></a>
                </div>
            </div>
        </div>

        <div class="border"></div>

        <!-- 影视 -->
        <div class="col">
            <h5 style="text-align: center;">流行影视</h5>
            <br>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{{hot_films.0.get_absolute_url}}">
                    <img src="/static/{{hot_films.0.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_films.0.name}}</p></a>
                </div>
                <div class="col">
                    <a href="{{hot_films.1.get_absolute_url}}">
                    <img src="/static/{{hot_films.1.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_films.1.name}}</p></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{{hot_films.2.get_absolute_url}}">
                    <img src="/static/{{hot_films.2.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_films.2.name}}</p></a>
                </div>
                <div class="col">
                    <a href="{{hot_films.3.get_absolute_url}}">
                    <img src="/static/{{hot_films.3.img}}" alt="..." class="img-thumbnail">
                    <p type="button" style="text-align: center;">{{hot_films.3.name}}</p></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <!-- 热评 -->
        <div class="col">
            <h5 style="text-align: center;">热门评论</h5>
            <br>
            <div class="container">
                <div class="row">
                    <div class="card col col-lg-6">
                        <a href="{{hot_comments.0.get_absolute_url}}">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-lg-5">
                                    <p>{{hot_comments.0.author.username}}</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="../../static/open-iconic/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">{{hot_comments.0.like_number}}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{hot_comments.0.content}}</p>
                        </div></a>

                    </div>
                    <div class="card col col-lg-6">
                        <a href="{{hot_comments.1.get_absolute_url}}">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-lg-5">
                                    <p>{{hot_comments.1.author.username}}</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="../../static/open-iconic/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">{{hot_comments.1.like_number}}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{hot_comments.1.content}}</p>
                        </div></a>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card col col-lg-6">
                        <a href="{{hot_comments.2.get_absolute_url}}">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-lg-5">
                                    <p>{{hot_comments.2.author.username}}</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="../../static/open-iconic/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">{{hot_comments.2.like_number}}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{hot_comments.2.content}}</p>
                        </div></a>

                    </div>
                    <div class="card col col-lg-6">
                        <a href="{{hot_comments.3.get_absolute_url}}">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-lg-5">
                                    <p>{{hot_comments.3.author.username}}</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="../../static/open-iconic/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">{{hot_comments.3.like_number}}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{hot_comments.3.content}}</p>
                        </div></a>

                    </div>
                </div>
            </div>
        </div>

        <div class="border"></div>

        <!-- 话题 -->
        <div class="col col-lg-4">
            <h5 style="text-align: center;">热门话题</h5>
            <br>
            <div class="container">
                <div class="row">
                    <div class="card col col-lg-6">
                        <a href="{{hot_topics.0.get_absolute_url}}">
                        <div class="card-body">
                            <p class="card-text">{{hot_topics.0.name}}</p>
                        </div></a>

                    </div>
                    <div class="card col col-lg-6">
                        <a href="{{hot_topics.1.get_absolute_url}}">
                        <div class="card-body">
                            <p class="card-text">{{hot_topics.1.name}}</p>
                        </div></a>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card col col-lg-6">
                        <a href="{{hot_topics.2.get_absolute_url}}">
                        <div class="card-body">
                            <p class="card-text">{{hot_topics.2.name}}</p>
                        </div></a>

                    </div>
                    <div class="card col col-lg-6">
                        <a href="{{hot_topics.3.get_absolute_url}}">
                        <div class="card-body">
                            <p class="card-text">{{hot_topics.3.name}}</p>
                        </div></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<br>
<div class="container">

    <div class="table-responsive-lg" style="text-align: center;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">在线人数</th>
                    <th scope="col">注册人数</th>
                    <th scope="col">帖子数</th>
                    <th scope="col">今日</th>
                    <th scope="col">昨日</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ online_ips_count }}</th>
                    <td>{{ foruminfo.account_number }}</td>
                    <td>{{ foruminfo.post_number }}</td>
                    <td>{{ foruminfo.today_post_number }}</td>
                    <td>{{ foruminfo.lastday_post_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
</div>
<!-- End -->
</div>

{% endblock %}