<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>One Book</title>
</head>

<body>
    <!-- 导航栏 -->
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a class="navbar-brand col-lg-2" href="#" style="color:black;">Bubble World</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


            <div class="input-group col-lg-4">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">书籍</button>
                    <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                        <a class="dropdown-item" href="#">所有</a>
                        <a class="dropdown-item" href="#">影视</a>
                        <a class="dropdown-item" href="#">小组</a>
                        <a class="dropdown-item" href="#">话题</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>

            <div class="col col-lg-1"></div>

            <div class="collapse navbar-collapse col-lg-4" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./book.html"><mark style="color:white; background-color:darkturquoise;">书籍</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./films.html"><mark style="color:white; background-color:dodgerblue;">影视</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark style="color:white; background-color:orange;">小组</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark style="color:white; background-color:orangered;">话题</mark></a>
                    </li>
                </ul>
            </div>

            <div class="dropdown col-lg-1">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10%;">
                <img src="头像.JPG" class="img-thumbnail" alt="Cinque Terre" style="padding: 0%;">
            </button>
                <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                    <a class="dropdown-item" href="#">主页</a>
                    <a class="dropdown-item" href="#">通知</a>
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </div>
        </nav>
    </div>

    <br>

    <div class="container">
        <!-- 书信息 -->
        <div class="container">
            <div class="row">
                <div class="col col-lg-3">
                    <div class="card" style="height:480px;">
                        <img src="book.jpg" alt="..." class="img-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">平凡的世界</h5>
                            <p class="card-text" style="text-align: center;">路遥</p>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-5">
                    <div class="card" style="height:480px;">
                        <div class="card-body">
                            <h6 class="card-title">内容简介:</h6>
                            <p class="card-text">1975年初农民子弟孙少平到原西县高中读书，他贫困，自卑；后对处境相同的地主家庭出身的郝红梅产生情愫，在被同班同学侯玉英发现并当众说破后，与郝红梅关系渐变恶劣，后来郝红梅却与家境优越的顾养民恋爱。少平高中毕业，回到家乡做了一名教师。但他并没有消沉，他与县革委副主任田福军女儿田晓霞建立了友情，在晓霞帮助下关注着外面的世界。少平的哥哥少安一直在家劳动，与村支书田福堂的女儿——县城教师田润叶青梅竹马。少安和润叶互有爱慕之心，却遭到田福堂反对。经过痛苦的煎熬，少安到山西与勤劳善良的秀莲相亲并结了婚，润叶也只得含泪与父亲介绍的一直对她有爱慕之情的李向前结婚。这时农村生活混乱，又遇上了旱灾，田福堂为了加强自己的威信，组织偷挖河坝与上游抢水，不料竟出了人命。为了“农业学大寨”，他好大喜功炸山修田叫人搬家又弄得天怒人怨。生活的航道已改变地步。</p>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card" style="height:480px;">
                        <div class="card-body">
                            <h6 class="card-title">作者简介:</h6>
                            <p class="card-text">路遥（1949年12月2日 [1] —1992年11月17日），本名王卫国，出生于陕北榆林清涧县，中国当代作家，代表作有长篇小说《平凡的世界》《人生》等。 [2] 曾任中国作家协会陕西分会党组成员、副主席。 路遥1949年12月2日出生于陕西陕北山区清涧县一个贫困的农民家庭，7岁时因为家里困难被过继给延川县农村的伯父。曾在延川县立中学学习，1969年回乡务农。这段时间里他做过许多临时性的工作，并在农村一小学中教过一年书。1973年进入延安大学中文系学习，其间开始文学创作。大学毕业后，任《陕西文艺》（今为《延河》）编辑。1980年发表《惊人动魄的一幕》，获得第一届全国优秀中篇小说奖。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="border"></div>
        <br>

        <!-- 书评 -->
        <div class="container">
            <div class="row">
                <div class="col col-10">
                    <h5 type="button">XXXXX的书评</h5>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-info">发表书评</button>
                </div>
            </div>
            <br>
            <!-- 第一排书评 -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 第二排书评 -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 第三排书评 -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Title</p>
                            <div class="row" style="align-items:center;">
                                <div class="col col-lg-3">
                                    <p>Author:XXX</p>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">#TAG</p>
                                </div>
                                <div class="col col-lg-3">
                                    <div class="row">
                                        <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                        <p style="font-size:xx-small;">666</p>
                                    </div>
                                </div>
                                <div class="col col-lg-3">
                                    <p type="button">举报</p>
                                </div>
                            </div>
                            <p class="card-text">本书是一本基于丰富案例的软件工程实用教程，利用软件工程核心三要素（方法、工具和过程）贯穿全文。重点介绍软件工程的基本概念、原理、软件工程国家相关规范与软件工程文档,撰写国家标准以及传统软件工程方法学和面向对象方法学。
                                <a href="#" class="card-link" style="text-align:right;">查看全文</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col col-lg-5"></div>
                <div class="col" style="text-align: center;">
                    <img src="./open-iconic-master/svg/chevron-right.svg" alt="thumb-up" style="width: 12px;height: 12px;" type="button">
                    <img src="./open-iconic-master/svg/chevron-right.svg" alt="thumb-up" style="width: 12px;height: 12px;" type="button">
                    <img src="./open-iconic-master/svg/chevron-right.svg" alt="thumb-up" style="width: 12px;height: 12px;" type="button">
                </div>
                <div class="col col-lg-5"></div>
            </div>
            <br>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>