<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Post Reivew</title>
</head>

<body>

    <!-- 导航栏 -->
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a class="navbar-brand col-lg-2" href="#" style="color:black;">Bubble World</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="input-group col-lg-4">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全部</button>
                    <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                        <a class="dropdown-item" href="#">书籍</a>
                        <a class="dropdown-item" href="#">影视</a>
                        <a class="dropdown-item" href="#">小组</a>
                        <a class="dropdown-item" href="#">话题</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>

            <div class="col col-lg-1"></div>

            <div class="collapse navbar-collapse col-lg-4" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./book.html"><mark
                                style="color:white; background-color:darkturquoise;">书籍</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./films.html"><mark
                                style="color:white; background-color:dodgerblue;">影视</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark
                                style="color:white; background-color:orange;">小组</mark></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><mark
                                style="color:white; background-color:orangered;">话题</mark></a>
                    </li>
                </ul>
            </div>

            <div class="dropdown col-lg-1">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10%;">
                    <img src="头像.JPG" class="img-thumbnail" alt="Cinque Terre" style="padding: 0%;">
                </button>
                <div class="dropdown-menu" style="text-align: center; min-width:fit-content;">
                    <a class="dropdown-item" href="#">主页</a>
                    <a class="dropdown-item" href="#">通知</a>
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </div>
        </nav>
    </div>
    <br>

    <div class="container">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">标题</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
            <div class="input-group-append">
                <button class="btn btn-dark" type="button">发表评论</button>
            </div>
        </div>
        <br>

        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="18" placeholder="输入内容"></textarea>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">标签</span>
            </div>
            <input type="text" class="form-control" placeholder="TAG1">
            <input type="text" class="form-control" placeholder="TAG2">
            <input type="text" class="form-control" placeholder="TAG3">
            <input type="text" class="form-control" placeholder="TAG4">
        </div>
    </div>

</body>

</html>