<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bubble World</title>
 </head>

<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					
					<li class="">
						
						<a href="{% url 'index' %}" style="font-family:雅黑;font-weight:bold;font-size:20px;"><i class="icon-chevron-left"></i>回到主页</a>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->


<div id="login-container">
	
	
	<div id="login-header">
	
	<br>
   
    
	<div id="login-header" align="center" style="overflow:hidden;">
<video loop muted autoplay style="
margin:-65% -55% -18% -55%;
height: 200%;
opacity: 1;
top: 0;
left: 0;
z-index: 0;
filter: blur(60px);">
    <source src="/static/video/video_preview.webm" type="video/webm">
</video>
		<h2 class="text-info" style="font-family:雅黑;font-weight:bold;font-size:48px;mix-blend-mode: difference;">Bubble World</h2>
        <div class="text-muted" style="font-family:雅黑;font-weight:bold;font-size:36px;mix-blend-mode: difference;">Welcome!</div>


	</div> <!-- /login-header -->
	
	<div id="login-content" align="center" class="clearfix">
	
	<form method="post" action="{% url 'user_register' %}" />
				{% csrf_token %}
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="username" style="font-family:雅黑;font-size:24px;mix-blend-mode: difference;">用户名</label>
						<div class="controls">
							<input type="text" class="" id="username" placeholder="请输入用户名" name="username" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password" style="font-family:雅黑;font-size:24px;mix-blend-mode: difference;">邮箱</label>
						<div class="controls">
							<input type="text" class="" id="email" placeholder="请输入email" name="email" />
						</div>
					</div>
                                        <div class="control-group">
						<label class="control-label" for="password" style="font-family:雅黑;font-size:24px;mix-blend-mode: difference;">密码</label>
						<div class="controls">
							<input type="password" class="" id="password" placeholder="请输入密码" name="password" />
						</div>
					</div>
                                        <div class="control-group">
						<label class="control-label" for="password" style="font-family:雅黑;font-size:24px;mix-blend-mode: difference;">确认密码</label>
						<div class="controls">
							<input type="password" class="" id="confirm_password" placeholder="请再次输入密码" name="confirm_password" />
						</div>
					</div>
				</fieldset>
				
				<div id="remember-me" class="pull-left">
					<input type="checkbox" name="remember" id="remember" />
					<label id="remember-label" for="remember">记住帐号</label>
				</div>
				
				<div class="pull-right">
					<button type="submit" class="btn btn-secondary btn-large" style="font-family:雅黑;font-weight:bold;font-size:24px;">
						注册
					</button>
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</form>
			
		</div> <!-- /login-content -->
		
	
</div> <!-- /login-wrapper -->

    
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
{% endif %}
</body>

</html>