{% extends "./base.html" %}

{% block content %} 
{% if section_obj.section_type == 1 or section_obj.section_type == 2 %}
<body>
  <br>
    <div class="border"></div>
        <a href="">
            <div style="text-align: center;">全部内容</div>
        </a>
    <div class="border"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <!-- 新书速递 -->
                <div class="container">
                    {% if section_obj.section_type == 1 %}
                      <h5 type="button" style="text-align: center;">新书速递</h5>
                    {% else %}
                      <h5 type="button" style="text-align: center;">影视速递</h5>
                    {% endif %}
                    <br>
                    <div class="row">
                      {% for section in sections_new %}
                      <a  href="{{section.get_absolute_url}}">
                        <div class="col">
                            <img src="{{section.img}}" alt="..." class="img-thumbnail">
                            <p type="button" style="text-align: center;">{{section.name}}  {{section.author}}</p>
                        </div>
                      </a>
                      {% endfor %}
                    </div>
                    
                </div>
                <br>

                <div class="border"></div>

                <br>
                <!-- 热门书评 -->
                <div class="container">
                    {% if section_obj.section_type == 1 %}
                      <h5 type="button" style="text-align: center;">热门书评</h5>
                    {% else %}
                      <h5 type="button" style="text-align: center;">热门影评</h5>
                    {% endif %}
                    
                    <br>
                    {% for uni in uni_obj %}
                    <a href="uni.get_absolute_url">
                    <div class="row" style="align-items:center;">
                        <div class="col col-lg-3">
                            <img src="book.jpg" alt="..." class="img-thumbnail" style="width:auto ;height:auto;">
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title font-weight-bold">Title</p>
                                    <div class="row" style="align-items:center;">
                                        <div class="col col-lg-3">
                                            <p>Author:{{uni.author}}</p>
                                        </div>
                                        <div class="col col-lg-3">
                                            <p type="button">#TAG</p>
                                        </div>
                                        <div class="col col-lg-3">
                                            <div class="row">
                                                <img src="./open-iconic-master/svg/thumb-up.svg" alt="thumb-up" style="width: 16px;height: 16px;" type="button">
                                                <p style="font-size:xx-small;">666</p>
                                            </div>
                                        </div>
                                        <div class="col col-lg-3">
                                            <p type="button">举报</p>
                                        </div>
                                    </div>
                                    <p class="card-text">{{uni.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="border"></div>

            <!-- 当下最热 -->
            <div class="col">
                <div class="container">
                    <h5 type="button" style="text-align: center;">当下最热</h5>
                    <br>
                    <div class="row">
                        {% for section in sections_hot %}
                        <a  href="{{section.get_absolute_url}}">
                          <div class="col">
                              <img src="{{section.img}}" alt="..." class="img-thumbnail">
                              <p type="button" style="text-align: center;">{{section.name}}  {{section.author}}</p>
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}



{% endif %}
<div>
板块:{{ section_obj.name}}<br/>管理员:{{ section_obj.users }}<br/>数量:{{section_obj.content_number}}<br>
</div>
</body>
{% endblock %}