<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block css %} 
    {% endblock %}
    
    <title>Bubble World</title>
</head>
<body>
	<div>
板块:{{ section_obj.name}}; 管理员:{{ section_obj.users }}; 帖子:{{section_obj.content_number}}<br>

{% for section in sections %}
<a href="{{ section.get_absolute_url }}" >{{ section.name }}</a>
      
      发表于:{{ section.created_at|date:"Y-m-d H:i:s" }};
      作者:{{ section.author }}；
   
	<br>
{% endfor %}
</div>
</body>